$env: 'dev' !default;

/*#######font########*/
$fontFamily: Georgia, Arial, sans-serif !default;
$fontWeightRegular: 400  !default;
$fontWeightBold: 600 !default;
$fontWeightBlack: 800 !default;
$fontWeightLight: 200 !default;

/*#######scaffolding########*/
$gapStep: 8 !default;
$gapNumber: 10 !default;

$gapStepArea: 16 !default;
$gapNumberArea: 10 !default;

$paddingStep: 8 !default;
$paddingNumber: 12 !default;

$orderMin: -10 !default;
$orderMax: 10 !default;

$box:16 !default;
$bp:sm,md,lg,sp,mg !default;
$containerBlock:1420px !default;
$mediaQuery:620px,1024px,1460px,1780px !default;
$mediaQueryMAX:5000px !default;
$flBoxPadding:0 !default;
$flBoxPaddingIn:8px 8px !default;
$paddingArea: 20px,30px,50px,80px,110px !default;

/*#######transition########*/
$transition:true !default;
$transitionTime:400ms !default;
$transitionEasing:ease-in-out !default;

/*#######utilities########*/
$containerOverflowXHidden:1 !default;
$zIndex:0,10 !default;



/*#######wireframe########*/
$wireframeBorderRadiusContainer: 0px !default;
$wireframeBorderRadiusRow: 1px !default;
$wireframeBorderRadiusBox: 1px !default;
/*ouline*/
$wireframeOutlineContainer: #1f2640 !default;
$wireframeOutlineRow: #aa41c8 !default;
$wireframeOutlineBox: #3f4b80 !default;
$wireframeOutlineBgBox: #e9eeff !default;

/*fill*/
$wireframeBgColorBox:#7d96ff !default;
$wireframeBgColorRow: #aa41c8 !default;
$wireframeBgColorContainer: #1f2640 !default;
$wireframeBorderColorOnFill: #e9eeff !default;

/*info*/
$wireframeFontFamily: Trebuchet MS, sans-serif !default;
$wireframeBgColorInfo:#1f2640 !default;
$wireframeColorInfo:#e9eeff !default;
$wireframeFontSizeInfo:14px !default;
$wireframeInfoFontSize: 13px !default;
