/* CSS Flexo */
@import "_config.scss";
@import "_mixin_components.scss";
@import "_reset.scss";



@if($transition)
{
    div
    {
            transition: width $transitionTime $transitionEasing,
            margin-left $transitionTime $transitionEasing,
            flex $transitionTime $transitionEasing,
            min-height $transitionTime $transitionEasing;
    }

}
@for $j from 1 through $box
{
    h#{$j}
    {
        margin: 0;
    }
}
p
{
    margin: 0;
}
ul
{
    padding: 0;
    margin: 0;
}
li
{
    list-style: none;
}


@include flexScaffold($bp, $mediaQuery, $box);
@include flexUtils;
@include positioningAndFilling();
@include textUtils($bp, $mediaQuery);
@include imagesUtils();
@include zIndexUtils();
@include vpUtils(1);
@include visibilityUtils($bp, $mediaQuery);


//######################## WIREFRAME MODULE ########################
@if($env == 'dev')
{
    @include wireframe();

}


